body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #d4746c;
    text-align: center;
    color: #f2f2f2;
    
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #00acb0;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    color: #f2f2f2;

}

.home-container {
    float: left;
    padding-left: 400px;
    padding-top: 50px;

}

.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f2f2f2;
    
}

.about-container {
    float: right;
    text-align: left;
    max-width: 350px;
    margin-top: 125px;
    margin-right: 425px;
    
}

.footer-div {
    text-align: left;
    padding-top: 600px;
    padding-left: 20px;
    margin-bottom: 2px;
}

.about-image {
    padding-top: 50px;
}


.home-adoro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #f2f2f2;
    
  
}

.sub-head {
    font-family: palatino;
    font-size: 25px;
}

.calendar {
    margin: auto;
}

